extends layout 

block content
  div#onlinecol Welcome to 
    span#thisroom #{roomname}
    .
      , 
    if(typeof(user) === 'undefined')
      span#thisuser 
        span(class = "user") #{username}
    else
      span#thisuser
        span(class = "registered_user") #{username}
    p Online:
    ul#online
      each val in users
        li(id=val) #{val}

  div#mescol
    div#messages
    form(id="sendform" action="", onsubmit="sendMessage(event)")
      input#message(type="text")
      input#sendmessage(type="submit", value="Send")

  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")